* {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.body{
    min-height: 75vh;
}
.header {
  height: 50px;
}

#login-form {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid;
  border-radius: 30px;
    margin: 5% 15%;
}

#login-img {
  height: 100%;
  width: 90%;
}
#img-login {
  text-align: right;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: black;
}

@media only screen and (max-width: 1000px) {
  * {
    font-size: 12px;
  }

  #img-login {
    padding: 2%;
    text-align: center;
  }
  .col-lg-6 {
    padding: 0 5%;
  }
}
